<!DOCTYPE html>
<html ng-app="todoApp">

<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
</head>

<body>
    <container>
        <div ng-controller="TodoCtrl">

            <md-input-container>
                <label>Add</label>
                <input ng-keyup="$event.keyCode == 13 && AddTodo()" ng-model="todoname" />
            </md-input-container>

            <md-list>
                <md-list-item ng-repeat="todo in todos">
                    <md-checkbox class="md-primary" ng-model="todo.done" ng-change="UpdateTodo(todo)"></md-checkbox>
                    <p>{{todo.name}}</p>
                    <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="DeleteTodo(todo.id)">
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <div>
                {{ todos }}
            </div>
        </div>
    </container>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>

    <script src="app_restangular.js"></script>

</body>

</html>